[2013-12-11 18:44] bajtos opened #8 "RFC: a better name for Device entity"
The current API we have in loopback-push-notification can be little bit confusing for LoopBack users - mobile developers.

For most mobile developers, a Device is the physical item and a Device Id is a unique identifier of this physical item.

In LoopBack, we are using Device to represent a concept of a single instance/installation of an app on a device. A Device Id is an identifier of a Device re

[2013-12-12 16:34] raymondfeng opened #11 "RFC: How to support both development and production mode for push notifications"
Push notification services such as APNS and GCM support both development and production mode. Each mode requires different settings, including:
- hostname/port
- certificates

For a LoopBack application, it needs to have a way to support both modes.

There are a few options:
1. Allow the client application to have both dev/prod push settings in the Application model. Add an option to the Push conn

[2013-12-13 15:00] bajtos opened #16 "Configuring Application (push notification settings)"
Provisioning a new Application for push notification is all but not easy in our present solution. The same is true for changing the configuration of an existing Application (e.g. add GCM config to an Application that used to have APNS only).

Before the change proposed in #15, the server removed all existing data and created a new Application, which got a new id assigned by MongoDB. Since iOS and

[2013-12-20 19:33] bajtos opened #24 "Simplify the plugin API"
I an offline discussion with @ritch, he said the new way of writing loopback plugins is to make them regular node modules exporting a bunch of functions. Instead of making it a module exporting super function accepting app & options and returning back the exported functions.

We should update LBPN to follow the new style, ideally before the first release. Along the way, we should IMO get rid of th

[2014-01-25 00:18] qihan-zhang opened #30 "demo-server has no method 'findById' when pushing to Android emulator"
When I tried to push notifications using demo-server/app.js to my Android emulator I got:

POST /notify/52e2e52d6cd08aa031b3ddc6 500 1ms
TypeError: Object function ModelConstructor(data, dataSource) {
            if(!(this instanceof ModelConstructor)) {
                return new ModelConstructor(data, dataSource);
            }
            if(ModelClass.settings.unresolved) {
                thr

[2014-01-27 16:59] #8 closed, assigned to nobody

[2014-01-27 16:59] #30 closed, assigned to nobody

[2014-05-30 16:49] bajtos opened #35 "Regression 1.0 -> 1.2"
When I attempted to upgrade loopback-android tests from v1.0 to v1.2, I am getting the following error:

[code]

Here is the relevant code:

[code]

The [documentation](http://docs.strongloop.com/display/DOC/Creating+push+notifications#Creatingpushnotifications-Createapushmodel) describes the same API usage:

[code]

According to semver, major versions should preserve backwards compatibility, whic

[2014-06-03 09:25] andrejsinigoj opened #36 "GCM device not registered error"
When a gcm device is no longer registered, I am getting the error:

[code]

Looking at the code of "lib/providers/gcm.js", on line 35:
self.emit('devicesGone', deviceToken);

It probably should be:

[code]

Because the emitted data for 'devicesGone' should be an array and not a string.

[2014-06-10 06:52] #36 closed, assigned to nobody

[2014-06-11 09:29] benkris1 opened #38 "how do you design schedule module."
if you have too many schedule .how do you design?

[2014-06-11 18:23] cpentra1 opened #39 "Error Connecting to APNS doesn't show"
Hey,

Followed the documentation provided here:
http://docs.strongloop.com/display/DOC/Creating+push+notifications#Creatingpushnotifications-Configuretheapplicationwithpushsettings

When configuring the loopback server with APNS there is nothing in the documentation that explains you need to specify a port in the push options.  If no port is specified then it is null, causing a connection error (c

[2014-08-03 20:57] dashby3000 opened #45 "Validation error on Notification model"
The Push model reports a validation error on the Notification object when using the API.  Error does not occur when you create a Notification using the 'new Notification(...)' constructor.

[2014-08-03 20:58] #45 closed, assigned to nobody

[2014-08-09 13:03] Dids opened #46 "Loopback 2.0 + Push?"
Should this be working with the latest version of Loopback?

The biggest concern for me is that the documentation, all around, is extremely old or not working at all. Even some of the links are broken (both on the Strongloop website, as well as in other places, such as on the README.md of this repository).

I'm trying to follow along the push notification tutorials, and get a general idea of how t

[2014-08-26 16:17] #46 closed, assigned to nobody

[2014-09-02 08:09] timosaikkonen opened #47 "Creating a submodel for Installation breaks find* methods"
Find\* methods refer to Installation.find\* instead of this.find*, thus causing a "Error: Cannot call Installation.find(). The find method has not been setup. The PersistedModel has not been correctly attached to a DataSource!"

Pull request following shortly.

[2014-09-09 20:42] superkhau opened #49 "Update push example to 2.x layout"
- migrate `/example` contents into a new repo named `loopback-example-push`
- upgrade to 2.x if necessary

[2014-09-15 15:22] #47 closed, assigned to nobody

[2014-09-29 21:59] yagobski opened #51 "push notification to angularjs app"
Hi, It is possible to use this module to send push notifications to web app based on angularjs.
I don't found any documentation how to use loopback to send push notifications to web apps.
I want for exemple when i add data from api explorer it send push notifications and in my client view i can listen loopback server. Please share any code or documentation about this topic.

Thanks

[2014-09-30 12:11] #51 closed, assigned to nobody

[2014-10-03 15:27] bajtos opened #52 "Correctly handle GCM response for multiple repositories"
When the notification is sent to multiple devices, we returning the status/error code of the first token for all tokens. It is very likely that some of the tokens are valid (the notification was sent) and only subset of tokens is reject.

See #41.

[2014-10-27 20:04] voitau opened #53 "Keeping deviceToken of the installation up to date"
This is a question about what would be the right way to handle ```deviceToken``` expiration and refresh.
Here are two use cases and the ways I assume they are being handled:

1. client submits a new token which is different from the previous one, it will be saved as a separate installation, and will be used to send push notifications; the previous one will be removed eventually as it becomes _gone

[2014-10-27 22:24] voitau opened #54 "Push notifications testing strategy"
I wonder if you have any suggestions how to implement testing strategy of push notifications implemented using LoopBack's push component. Use case:
- System sends a push notification with a number to a User. The problem is to make sure that the proper number is sent.

Since the message is sent to a remote service, the first option would be putting man-in-the-middle and validating expectations base

[2014-11-04 18:03] jrhone opened #56 "Server 2.0 Push Notification Error"
Getting an error when pushing using the server 2.0 example.  I've verified that my cert and key are valid.  Any help?

pushing notification to "xxxxxxxxxxxxxxxxxxxxxxxx"
Push Notification error:  TypeError: Cannot set property 'socket' of null
    at Object.exports._extend (util.js:572:21)
    at normalizeConnectArgs (tls.js:1316:20)
    at Object.exports.connect (tls.js:1323:14)
    at Connection

[2014-11-13 11:24] ariskemper opened #57 "Setting not to remove installations on devicesGone event"
Maybe would be good to add main setting, which doesnt remove installations on devicesGone event, but it sets the date when application was deleted. It should set for example field that the device is gone and then notifications are not send to this installations.
Reason for this is further processing and knowing how many installations were deleted for specific app.

[2014-11-13 20:52] voitau opened #58 "Documentation: broken links on Push Notifications page"
Links to methods `notifyById()` and `notifyByQuery()` are broken here: [Send out the push notification immediately](http://docs.strongloop.com/display/public/LB/Push+notifications#Pushnotifications-Sendoutthepushnotificationimmediately)

Should be changed to proper methods from: http://apidocs.strongloop.com/loopback-component-push

[2014-11-13 21:01] #58 closed, assigned to nobody

[2014-11-14 23:17] debianmaster opened #59 "Schedule push notifications"

[2014-11-20 01:39] newaz opened #60 "Cannot POST /notify/1123 (custom route)"
Hi,
I have imported the client package from server to server-2.0 (loopback-component-push) to manually push to a particular device form index.html. But when I execute the  "notify/:id" customer route as written in push-demo.js it gives me the following error. I think in loopback 2.0 there is the new routing way. If so is there an example to follow? I have tried to put a routing in router/index.js

[2014-11-20 05:38] #60 closed, assigned to nobody

[2014-12-05 19:19] nullEuro opened #63 "Recommended ACLs for Installation Model"
I have a question regarding the correct usage of the installation model. The clients must be able to read and modify none but "their own" installation (the one it has the `deviceToken` of (?)). I cannot use the `$owner` role here because there is no relation to `User`.

Any thoughts?

[2014-12-08 08:23] #52 closed, assigned to bajtos

[2015-01-16 02:41] jebai0521 opened #66 "extend ios pushsetting to support both development and product"

[2015-01-20 15:51] bajtos commented on #66
@jebai0521 could you please provide more details? AFAIK the current implementation already supports both modes.

[2015-02-02 08:28] TonnyTao opened #68 "Need add custom provider"
I use other messaging provider instead of gcm. so I have to code like this:

[code]

It's ugly, any better way?

[2015-02-10 03:18] glesage opened #69 "No Content in notification on GCM"
Hey all,

So running the example app (server-2.0) and sending a push notification works great on iOS but when sent to Android devices, the push has no content.

[code]

--> I see a push notification on my iPhone saying "test message"

[code]

--> I see a push notification on my android device saying "" (no content)

Am I missing something with regards to content?

According to http://developer.and

[2015-02-15 17:32] vittoriofoschi opened #71 "Problem with Xcode 6.1 and registerForRemoteNotificationTypes"
The method registerForRemoteNotificationTypes is not compatible with ios8

[2015-03-04 08:07] bajtos commented on #71
@vittoriofoschi please provide more details, where did you find `registerForRemoteNotificationTypes`? Is it used by the [example](https://github.com/strongloop/loopback-component-push/tree/master/example/ios)?

@hideya could you please take a look?

[2015-03-04 08:09] bajtos commented on #68
I don't think we have a first-class API for registering custom messaging providers. @raymondfeng please correct me if I am wrong.

@TonnyTao can you contribute this feature yourself?

[2015-03-04 08:15] bajtos commented on #69
@glesage thank you for reporting the issue. Can you reproduce the problem using the 1.x server in "example/server" too?

@raymondfeng you are the author of the server-2 example, could you PTAL?

[2015-03-04 08:17] bajtos commented on #71
This has been already fixed by #67.

[2015-03-04 08:17] #71 closed

[2015-03-04 08:19] bajtos commented on #71
Please upgrade to `loopback-component-push@1.4.3`.

[2015-03-04 18:15] raymondfeng commented on #68
@TonnyTao Please submit a patch to wrap your code into an API exposed by the loopback-component-push module.

[2015-03-04 21:23] vittoriofoschi commented on #71
Sorry , registerForRemoteNotificationTypes is in iOS SDK ... in LBPushNotification.m file ...

[2015-03-06 17:35] glesage commented on #69
Hm, I'll try with that one and let you know as soon as I can get another android device handy (:

[2015-03-06 21:26] glesage commented on #69
@bajtos yes I was able to reproduce on 1.x server... it seems to be specific to the "alert" data member...

On android:
[code]
alert does not get sent through... but message does. I guess this should just be specified in some doc so others know (:

[2015-03-10 17:50] bajtos commented on #69
@crandmck can you please take care of that?

[2015-03-10 17:52] bajtos commented on #69
At the moment, we have only jsdoc comments mentioning this fact, albeit not very clearly: https://github.com/strongloop/loopback-component-push/blob/8e248a085857f8bb08b467539f05646468ad9aa5/models/notification.js#L32-L36

I think it would be best to include the `Notification` object in http://apidocs.strongloop.com/loopback-component-push and rework the comments to follow the apidocs format.

[2015-03-10 21:12] ritch commented on #69
The formatting of the JSDoc is just a bit off. I think @crandmck is fixing.

[2015-03-10 23:11] crandmck commented on #69
@bajtos  I fixed the JSdoc.  I added the `message` property to `Notification`, even though I didn't see it in the code.  Please review and if it looks OK, please npm publish the module to update the API docs.

[2015-03-11 01:08] glesage commented on #69
Oh ok great thanks!

[2015-03-11 11:29] bajtos commented on #69
Released in `loopback-component-push@1.4.4`

[2015-03-11 11:29] #69 closed

[2015-03-24 15:57] seriousben commented on #57
:+1:

[2015-04-03 13:11] hideya opened #75 "iOS sample app has inappropriate code to handle push registration"
It doesn't seem appropriate to invoke [UIApplication registerUserNotificationSettings:\] (or [UIApplication registerForRemoteNotificationTypes:] on iOS 7) in [UIApplicationDelegate application:didFinishLaunchingWithOptions:] of AppDelegate.m.

The code example found in [Push notifications for iOS apps](http://docs.strongloop.com/display/public/LB/Push+notifications+for+iOS+apps) doesn't do it.  In

[2015-04-06 08:22] skyserpent opened #76 "Server-2.0 doesn't work, throws timeout error"
I get the error below upon pulling this repo and setting up the server-2.0:

`/home/skyserpent/sandbox/loopback-component-push/example/server-2.0/server/push-demo.js:64
        throw err;
              ^
Error: Timeout in connecting after 5000 ms`

It seems to be calling out this function in push-demo.js:

`updateOrCreateApp(function (err, appModel) {
      if (err) {
        throw err;
      }

[2015-04-09 18:03] zane-insta opened #77 "Installation and Notification models are not found"
I used npm to install loopback-component-push but when I try to use Installation as a base model I get the following.

[code]

I checked and double checked everything in the example/server-2.0 to make sure I was doing everything the same so I am not sure why the model is not showing up. I tried the example as a sanity check and it has no problem finding the models.

# server/models/installation.js

[2015-04-09 20:40] raymondfeng commented on #77
Have you checked out https://github.com/strongloop/loopback-component-push/tree/master/example/server-2.0/?

[2015-04-09 20:55] zane-insta commented on #77
Hey @raymondfeng thanks for getting back to me.

I was using that example as my starting ground. The server-2.0 example works but when I try to do it in a fresh project I get the error again. I have tried practically everything so I am really lost as to why it is not working.

The issue should come up if you start a fresh project, install loopback-component-push then create any model that tries to

[2015-04-09 21:33] zane-insta commented on #77
I found the problem.

It turns out if you do not have the "push" datasource setup in datasource.json then this error will pop up. I just copied your datasource definition and it worked as expected.

[2015-04-12 23:47] glesage opened #79 "loopback-component-push is not installed"
Hey all,

I'm getting an issue with the example apps (server & server-2.0)

I do `npm install` and all looks good
Then when I `slc run` I get an error:

[code]

Not sure what's going on /:

Thanks!

---
PS: Originally got this issue on my production application, then tried it on the example apps and got the issues as well...

[2015-04-13 02:49] dashby3000 commented on #79
I am seeing this issue as well with the v.1.5.0 release.  I fell back to v1.4.2 and all was well with it.

[2015-04-13 05:04] raymondfeng commented on #79
Patched in 1.5.1. Please try again.

[2015-04-13 13:00] #77 closed

[2015-04-13 13:38] glesage commented on #79
Yep seems fixed thanks!

[2015-04-13 13:38] #79 closed

[2015-04-18 12:56] behrad opened #80 "MPNS and WNS provider for windows phones"
I can help/create a PR to add MPNS and WNS support, there exists a module for this https://github.com/rs/pushd however I prefer using loopback stack :)

[2015-04-21 14:25] bajtos commented on #80
Sounds great, let us know if you need any help to get started.

[2015-04-21 14:27] bajtos commented on #75
@hideya your plan sounds good to me, can you please make the necessary changes yourself?

[2015-04-21 14:42] bajtos commented on #76
@skyserpent The sample server is using a MongoDB instance running in a cloud at `demo.strongloop.com`. Is there any firewall along your internet connection that may prevent you from accessing it?

[2015-04-27 09:23] jingood2 opened #81 "It seems that notifyByQuery method with 'inq' operator didn't work"
I tried to send a notification to devices with specified userId.
But It seems that notifyByQuery method with 'inq' operator didn't work.
I don't know what it wrong with filter string.

For checking 'notifyByQuery', I modified filter in push-manager.js as below.

[code]

[2015-04-27 15:15] raymondfeng commented on #81
I believe your database is MongoDB. Can you try to wrap the user ids as ObjectId?

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongops/> like monitoring, debug

[2015-04-30 17:44] seriousben opened #82 "Using `alert` property in android pushes doesn't work"
Caused by `alert` not being an enumerable property on `Notification`.

Workaround is:
[code]

[2015-05-04 00:37] sw8fbar opened #83 "APNS Push error"
I'm trying to push notifications to my iOS app and I get the following error when the server tries to send the notification. Could someone please point me to the cause?

[code]
Loopback-component-push version : 1.5.1
Node version : v0.12.2
slc version : v3.1.1

[2015-05-06 16:09] sw8fbar commented on #83
I could get this working. This can be closed. The issue was a missing CA file. Once included, it ran without a glitch.

[2015-05-06 17:49] #83 closed

[2015-05-12 11:13] dashby3000 opened #85 "Component Realiability"
Hi Guys,

I have found three issues with the Push Component that stops it from currently being reliable in a production environment.

When you are sending high-volume Push Notifications to Apple, especially in their development sandbox, sometimes Apple will reject a perfectly good Notification because it will detect a device token error.  However, if you have the "retryLimit" set to a positive val

[2015-05-13 16:23] lamenramen opened #86 "/push rest api gives me 500 error but the message gets through"
Can someone give me an example of how to send a push notification with Strongloop using the REST API?

What endpoint do I use? POST /push or POST /notifications?

Docs do not tell me what the difference is and when to use which.

When I send a test push notification using /push REST API I'm getting a 500 error.

http://localhost:3010/api/push
Response Body
{
  "error": {
    "name": "Error",
    "

[2015-05-14 18:38] crandmck opened #87 "Update push documentation with new example"
The example was recently updated, but the docs were not: http://docs.strongloop.com/display/LB/Push+notifications

Need to update to use the 2.0 server https://github.com/strongloop/loopback-component-push/tree/master/example/server-2.0 and generally clean up and improve.

[2015-05-15 07:48] #86 closed

[2015-05-15 19:24] ijroth commented on #85
@dashby3000 says he has a test case if needed

[2015-05-19 23:06] raymondfeng commented on #85
@dashby3000 Where is your test case? I would like to reproduce the issue.

[2015-05-19 23:13] dashby3000 commented on #85
Will clean it up and post GitHub link later

[2015-05-25 11:34] buddhikasemasinghe commented on #56
I also get the same error. Please someone let me know how to fix this.

events.js:72
        throw er; // Unhandled 'error' event
              ^
TypeError: Cannot set property 'socket' of null
    at Object.exports._extend (util.js:573:21)
    at normalizeConnectArgs (tls.js:1324:20)
    at Object.exports.connect (tls.js:1331:14)
    at apnSocketLegacy (/Users/Buddhika/Development/cloud/google/my

[2015-05-26 20:35] raymondfeng commented on #85
@dashby3000 Any update?

[2015-05-31 10:45] hacksparrow opened #89 "Test expect(cacheApp).to.have.property(context.installation.appId) fails"
[code]
Did anything relevant change in the framework?

@crandmck @bajtos

[2015-06-01 09:33] bajtos commented on #89
I am not aware of any such change.

Perhaps @raymondfeng will know?

[2015-06-01 15:25] raymondfeng commented on #85
@dashby3000 I need your test case to finish the story.

[2015-06-02 14:41] bajtos commented on #81
@jingood2 is this issue still relevant? Could you please try the workaround proposed by @raymondfeng above?

[2015-06-02 14:42] bajtos commented on #82
@seriousben thank you for reporting the issue. Could you please submit the fix as a pull request and include a unit-test to prevent regressions in the future?

[2015-06-02 14:45] bajtos commented on #56
Can you please provide us with the instructions on how to reproduce the problem? How did you configure the example app, what certificates did you use, etc.

[2015-06-02 14:50] seriousben commented on #82
Hi @bajtos - Do you have any suggestions? I feel like this is happening because of `Notification.hideInternalProperties = true;`. What is the right fix do you think?

[2015-06-02 14:55] bajtos commented on #82
I'd say you should explicitly copy the `alert` property from LoopBack's Notification to GCM Message here: https://github.com/strongloop/loopback-component-push/blob/bd6d71153d81a8c21e13fe2858ca05910d006ff5/lib/providers/gcm.js#L62-L68

Please update the unit-test too: https://github.com/strongloop/loopback-component-push/blob/bd6d71153d81a8c21e13fe2858ca05910d006ff5/test/gcm.provider.test.js#L28-L

[2015-06-04 08:49] harshil93 opened #92 "Loopback Push Component docs doesn't mention datasource.json"
In the official docs (http://docs.strongloop.com/display/public/LB/Push+notifications) , it is not mentioned that one has to add a new datasource for push notification. I only found out this after reading the example file by file.

[2015-06-04 09:15] harshil93 opened #93 "Loopback-component-push doesn't work well when automigrating application,notification,installation models."
When one add the line
` require('./push')(app); ` to server.js and the user has configured the automigration of application,notifcation and installation models. The error pops up that the table is not available for model. This is happening because even before the model is created, the code inside push.js starts.

https://github.com/harshil93/loopback-component-push-bug-example

The above code is s

[2015-06-04 10:38] buddhikasemasinghe commented on #56
Hi,

Please find my configuration below. Even if I use sample certificates, keys in the example2.0 in the module, the server will crash.

dependencies:

 "assert": "^1.3.0",
    "compression": "^1.0.3",
    "easyimage": "^1.2.2",
    "errorhandler": "^1.1.1",
    "imageMagick": "^0.1.2",
    "loopback": "^2.15.0",
    "loopback-boot": "^2.6.5",
    "loopback-component-storage": "^1.3.0",
    "loop

[2015-06-10 18:20] clarkbw commented on #92
This should be fixed by #87

[2015-06-24 06:45] hideya commented on #75
Sure!  Step (1) has been done by this pull request: https://github.com/strongloop/loopback-sdk-ios/pull/38
I'll work on Step (2) soon.

[2015-06-24 12:37] buddhikasemasinghe commented on #56
Hi bajtos ,

Could please help me to resolve this issue. Please let me know if you have a fix for this issue.

Thanks
Buddhika

[2015-06-24 12:45] buddhikasemasinghe opened #94 "Push Notification issue - iOS"
Hi,

I have a problem with sending push notification from my application error. Please someone let me know how to fix this since I am trying to fix this issue for a month now.

[code]

Please find my configuration below. Even if I use sample certificates, keys in the example2.0 in the module, the server will crash.

dependencies:

[code]

Push settings

[code]

I can not find a place to attach fil

[2015-06-26 04:58] hideya commented on #75
PR #95 which takes care of Step (2)

[2015-06-29 13:34] EyMaddis opened #96 "allow content-available for iOS notification"
It is currently not possible to set `"content-available": 1` in a way that iOS can handle it correctly.

A possible fix would be something like this:

https://github.com/Maddis1337/loopback-component-push/blob/master/lib/providers/apns.js#L104-L107

[2015-06-29 15:42] chandadharap commented on #85
@dashby3000 @ijroth Is  this not a priority anymore?

[2015-06-29 17:53] DennisAshby commented on #85
Yes, it is.  I will provide the test case today.

------------------
Dennis Ashby

{ "title" : "Managing Partner",
  "email" : "dennis@api.partners”,
  "voice" : "415-596-9093",
  "skype" :  "dennis.ashby",
  "twitter" : “@Dennis_Ashby" }

Sometimes your success is not measured in what you achieve, but in what you
overcome.

On Mon, Jun 29, 2015 at 8:42 AM, chandadharap <notifications@github.com>

[2015-06-30 14:35] bajtos commented on #75
@hideya Is there anything else to fix as part of this issue? I think it can be closed now, since both PRs were already landed.

[2015-06-30 16:01] AaronBedward commented on #94
Try like so
...
    pushOptions: {
     port: 2195
    // Extra options can go here for APN
     },
     feedbackOptions: {
     batchFeedback: true,
						interval: 300,
						port: 2196
					}
...

[2015-06-30 22:19] hideya commented on #75
@bajtos Yes, please close this.  Thank you!

[2015-07-01 06:22] #75 closed

[2015-07-01 11:17] buddhikasemasinghe commented on #94
Thanks  a lot Aaron. This works now.

[2015-07-15 08:03] ningsuhen commented on #85
I also faced this issue and after looking at the code, I realized that the emitted error is not propagated to the push model. So, as a workaround, we can use:
[code]
However, if we create a Push model and add the error event listener in the model.js (push.js) file, the connector is not linked yet. So, I tried 'dataSourceAttached' and 'attached' events but these are also not called. At the end, I h

[2015-07-24 17:55] crandmck commented on #92
I finally got a chance to update that doc.  It now mentions `datasources.json` at least.  I think it could be further improved, but I'm going to close this issue, since this specific item is addressed.  Please add any further doc suggestions in https://github.com/strongloop/loopback-component-push/issues/87.

[2015-07-24 17:55] #92 closed

[2015-07-24 17:56] crandmck commented on #87
I finally updated the doc.  It could probably be further improved.  Please review and make further suggestions.

[2015-08-03 23:45] #87 closed

[2015-08-06 06:28] bachirelkhoury opened #99 "Avoid duplicate deviceToken and installation records"
what's the best practice to avoid multiple Installation records for the same deviceToken?
Trying to add a 'before save' observer but almost feels like there must be a different and easier way.

How do you guys handle that?

[2015-08-06 07:56] behrad commented on #99
the same here @bachirelkhoury
I've written an after save which deletes older installations of the **same device**, However haven't get to a well defined "same device" logic yet!
I have found some modules on github which generate a unique device id for IOS/Android which claim to generate the same id across uninstall/reinstall of your app, but not tested them yet.
lemme know if you have found someth

[2015-08-06 08:11] bachirelkhoury commented on #99
thanks @behrad for the tip.
Yeah looks like that's the way to go, although in our case I'm trying to avoid deleting anything.
Instead "before save", I'm doing a findOne by deviceToken, if it does exist, I'm updating that record to update userId, and some other properties.

This way if multiple users (multiple userIds) use the same phone (ie. installation) the phone will only  receive 1 notificatio

[2015-08-06 12:22] behrad commented on #99
We have the same here, but I've seen Apple APN giving the same phone different deviceTokens ;)

[2015-08-06 23:52] bachirelkhoury commented on #99
Yeah that's true, but when that happens the old deviceToken becomes redundant so APN server will ignore it and won't push a notification there.

But yeah that's a good problem, because now our system thinks the user has a new device.
A unique deviceId is the key. In fact you reminded me, we used CFUUIDCreate() on iOS and stored it in the keychain. This will persist when you delete and reinstall th

[2015-08-06 23:52] #99 closed

[2015-08-07 08:25] behrad commented on #99
:+1: @bachirelkhoury

[2015-09-21 16:42] bajtos commented on #93
Hi @harshil93, I think your application is not set up correctly.

Please change your dbsync boot script ([link](https://github.com/harshil93/loopback-component-push-bug-example/blob/51cdc405f2194122b5c1a5a4515a8260612cd7dc/server/boot/dbsync.js)) to a callback-based one:

[code]

Then you need to rework your server code to wait until the boot process is finished ([server/server.js](https://github.

[2015-09-21 16:42] #93 closed

[2015-09-21 16:46] bajtos commented on #96
@Maddis1337 thank you for reporting the issue, could you please send your patch as a pull request? Preferably including a unit test.

[2015-09-21 16:53] #94 closed

[2015-09-21 16:53] bajtos commented on #94
I'm closing the issue as resolved then.

[2015-10-06 23:13] voitau opened #102 "Trim Notifications if body is too long"
In particular, for APNs:

node-apn has a method [`Notification.prototype.trim`](https://github.com/argon/node-apn/blob/6da4e0c0218bc34f6da1e85c13508dfb9f1719f7/lib/notification.js#L388-L421) to deal with this.

It would be good to trim the message by default and/or configure this behavior. Which may happen somewhere in [`apns.js`](https://github.com/strongloop/loopback-component-push/blob/master/l

[2015-10-15 01:47] koppulapr commented on #81
This is still an issue, does anybody have a solution.

[2015-10-15 20:20] koppulapr commented on #81
Tried the workaround but still facing the same issue.

[2015-10-20 22:33] voitau commented on #102
Hi, any thoughts on this?

[2015-10-21 18:17] crandmck commented on #49
Note that https://github.com/strongloop/loopback-example-push exists.  Not sure of its status, since it's somewhat outdated.

[2015-10-23 21:12] javierfdr opened #103 "Notification model not working as in the examples. data parameter required"
I've been testing push notifications for GCM following the examples at https://github.com/strongloop/loopback-component-push/tree/master/example/server-2.0. Although the notification was arriving to the mobile phone the message I got from the Bundle.extras was:

[code]

So the actual message I'm sending is not arriving.I'm assuming that the <b>alert</b> parameter is supposed to be parsed from the

[2015-11-17 14:32] behrad commented on #85
+1

[2015-11-22 15:31] tekand commented on #81
@bajtos @raymondfeng

I also had the same issue (still have actually). But I found a workaround.
I think the issue is caused by where clause added in the following line:
https://github.com/strongloop/loopback-component-push/blob/master/lib/push-manager.js#L251

It works as expected, if I delete this manually and assign the `installationQuery` directly to the `filter` variable.

[2015-12-15 18:52] debianmaster opened #105 "is push scheduler available ?"
is there a scheduler available for this component, i could not find one.

[2015-12-20 15:48] ffr200 commented on #96
was the pull request ever created for this?

[2015-12-20 15:50] Maddis1337 commented on #96
No

[2015-12-23 01:11] mastuss opened #106 "GCM push notifcations not sending full data dictionary"
I've set up to push notifications to Android devices after having already set them up for iOS.
However, when the notifications come down to the Android app, the data dictionary is missing most of the values

`{object=2562, type=NewQuestionAlert, contentAvailable=true, collapse_key=do_not_collapse}`

when the notification object is

    var note = new loopbackPush.Notification({
      expirationInt

[2016-01-27 17:01] cleever commented on #80
Is there any update on this?

[2016-02-08 04:46] techwizardg opened #111 "Not able to get the example loopback server application"
Any idea on where the example loopback server application is in github. All references to it says 404 not found

[2016-02-09 18:20] superkhau commented on #111
https://github.com/strongloop/loopback-example-push

[2016-02-09 18:21] superkhau commented on #111
Need to update the references. Would you like to submit a PR?

[2016-03-23 00:23] ffr200 commented on #96
Is this still an issue?  Should this have a pull request?  I've been using 1.5.3 and am now questioning whether my silent push notifications are coming through properly

[2016-03-24 17:39] EyMaddis commented on #96
They are probably not coming through.
I created a PR: #112

[2016-04-14 07:03] eperico commented on #81
@bajtos @raymondfeng
I got the same problem as you and it works find after applying @tekand fix.

Do we know how this fix is not included in the latest release? Is there another workaround?

[2016-05-04 19:18] superkhau commented on #38
@benkris1 I'm closing this as this is a pretty generic question. For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2016-05-04 19:18] #38 closed

[2016-05-04 19:19] superkhau commented on #39
@crandmck ^

[2016-05-04 19:20] superkhau commented on #63
Closing this as there is nothing left to resolve here.

[2016-05-04 19:20] #63 closed

[2016-05-04 19:20] superkhau commented on #80
@behrad Are you still working on this?

[2016-05-04 19:22] superkhau commented on #53
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details. You will get more responses from community there. In adddition, you can try https://gitter.im/strongloop/loopback for immediate responses.

[2016-05-04 19:22] #53 closed

[2016-05-04 19:23] superkhau commented on #102
@voitau Would you like to submit a PR instead?

[2016-05-04 19:24] superkhau commented on #105
Dup of https://github.com/strongloop/loopback-component-push/issues/59

[2016-05-04 19:24] #105 closed

[2016-05-04 19:25] superkhau commented on #89
@hacksparrow Is this good to close? Are you still working on this?

[2016-05-04 19:26] superkhau commented on #106
Would you like to submit a PR for your fix? We can verify your proposal there instead.

[2016-05-04 19:28] superkhau commented on #76
Closing this due to inactivity. @skyserpent If you are still running into issues, feel free to reopen.

[2016-05-04 19:28] #76 closed

[2016-05-04 19:31] superkhau commented on #66
Closing due to inactivity. @jebai0521 Feel free to reopen the issue if needed.

[2016-05-04 19:31] #66 closed

[2016-05-04 19:42] superkhau commented on #56
Can one of you guys provide sample repo for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-05 07:12] behrad commented on #80
I've a very simple WNS provider here https://github.com/adpdigital/loopback-component-push

[2016-05-05 12:10] seriousben commented on #106
@superkhau this is a duplicate of https://github.com/strongloop/loopback-component-push/issues/82 which has a PR waiting since yesterday.

[2016-05-05 17:48] superkhau commented on #80
Would you like to submit a PR?

[2016-05-05 18:09] hacksparrow commented on #89
@superkhau not working on this anymore. You can close this, if it cannot be reproduced.

[2016-05-05 18:11] superkhau commented on #106
@seriousben TY, closing as a duplicate then.

[2016-05-05 18:11] #106 closed

[2016-05-05 18:30] superkhau commented on #89
@hacksparrow Closing.

[2016-05-05 18:30] #89 closed

[2016-06-13 21:39] felipetoffolo1 commented on #81
+1

[2016-06-27 14:03] danielrvt commented on #96
Hi guys, do you know if this is working now?

[2016-07-14 06:52] superkhau opened #116 "Use ESLint instead of JSHint"
Configure this project to use ESLint instead of JSHint.

[2016-07-14 23:47] superkhau opened #117 "Add globalization"
Connect to https://github.com/strongloop/loopback/issues/2422

[2016-08-16 01:26] superkhau commented on #117
Fixed at https://github.com/strongloop/loopback-component-push/pull/118

[2016-08-16 01:26] #117 closed

[2016-08-16 01:28] superkhau commented on #96
@danielrvt Sorry for the late reply, waiting on @EyMaddis to write some test for the PR he sent to verify the fix at #112.

[2016-08-16 01:31] superkhau commented on #103
@crandmck Can you verify if the docs reflect what @javierfdr is asking?

[2016-08-16 01:32] superkhau commented on #102
@voitau What do you think about submitting a PR?

[2016-08-16 01:35] superkhau commented on #56
Closing as stale, please open a new issue if you are still running into problems and we can resolve it there. This is two years old.

[2016-08-16 01:35] #56 closed

[2016-08-16 01:36] superkhau commented on #49
Closing as 2.x example exists at https://github.com/strongloop/loopback-example-push

[2016-08-16 01:36] #49 closed

[2016-08-16 01:38] superkhau commented on #80
@behrad Are you still working on this? Would you like to submit a PR with your additions?

[2016-08-16 11:59] seriousben opened #123 "EMFILE errors happening recently"
With the new dependencies update, we've seen some EMFILE errors probably caused a leak of connections happening after some time and a certain number of pushes being sent.

We suspect APN as being the source of this. It could be due to the way we use that module or maybe a bug in it.

[2016-08-16 12:01] seriousben commented on #123
It would be possible for this error to go away with the recent updated of the APN package as well.

[2016-08-16 12:03] seriousben commented on #123
This does look like an upstream bug: https://github.com/argon/node-apn/issues/408

[2016-08-16 16:54] #82 closed

[2016-08-16 17:04] superkhau commented on #123
We should wait for a fix then update `package.json`. @seriousben Please submit a PR when you notice the upstream fix and ping me for review. ;)

[2016-08-17 13:57] bajtos commented on #81
Hello, quoting https://github.com/strongloop/loopback-component-push/pull/104#issuecomment-240418326

We need your help to move this forward: either create a unit-test reproducing the issue or provide us with a sandbox app that does reproduce it, see https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

Also please check whether the bug is present when using a different databas

[2016-08-17 22:58] crandmck commented on #103
I think @javierfdr is specifically asking about the example app, which would be your bailiwick, @superkhau :-)

But anyway, the [Push Notification docs](https://docs.strongloop.com/display/LB/Push+notifications#Pushnotifications-Sendpushnotifications) have:
[code]

So I'm not clear if I should change `messageFrom` property to `message` in that example?... Is it true that `message` is required?

[2016-08-18 01:09] superkhau commented on #103
I think its a bit of both.

1. We need to confirm if the `message` parameter is required and then reflect it in the docs
2. We need to update the example to add some other parameters and explain additional data can be sent

@raymondfeng Can you confirm if number 1 is required?

[2016-09-26 19:21] 0candy opened #127 "CI failures for windows"
[code]

[2016-10-05 18:02] Sequoia commented on #39
The [doc link](http://docs.strongloop.com/display/DOC/Creating+push+notifications#Creatingpushnotifications-Configuretheapplicationwithpushsettings) above is no longer available.

It looks like [this](https://github.com/strongloop/loopback-component-push/blob/master/lib/providers/apns.js#L37-L39) might be a logic error?
[code]

Possible cases:

1. Users sets `pushOptions.port` to a number/string/e

[2016-10-05 23:27] #54 closed

[2016-10-06 01:53] Sequoia commented on #54
Closed via strongloop/loopback.io#92

[2016-10-07 00:09] crandmck commented on #39
FYI, here is the doc section in question: http://loopback.io/doc/en/lb2/Push-notifications.html#configure-the-application-with-push-settings

However, I can't speak to the correct resolution of the above....
From http://loopback.io/doc/en/contrib/functional-area-owners.html it looks like @superkhau is now the owner of Push, with backup from @Amir-61 and @gunjpan .
Any help appreciated!

[2016-10-13 01:34] superkhau commented on #123
@seriousben Are you still running into issue? Can I close this?

[2016-10-13 01:35] superkhau commented on #116
Fix at https://github.com/strongloop/loopback-component-push/pull/129

[2016-10-13 01:35] #116 closed

[2016-10-17 19:31] iliraga opened #131 "Support APNS new HTTP/2 JWT Model"
Hello

As you know, apple introduced a [new way of sending push notifications](https://onesignal.com/blog/apple-just-released-http2-support-for-their-push-notification-api/). The old method of creating those annoying certificates for each app is gone.

The thing now is, that the underlaying node-apn Framework which is used by the loopback push component supports those.

One problem rightnow is, th

[2016-10-17 20:02] raymondfeng commented on #131
Do you want to submit a patch?

[2016-10-17 22:33] ir-tech commented on #131
I'll see tomorrow whether I can submit anything.

[2016-10-19 06:25] keshavkaul commented on #59
Hello
How much will be the effort to implement push scheduling? Was there a discussion on this? I would like to contribute to adding this feature.
Thanks.

[2016-10-19 07:44] superkhau commented on #59
Not sure how much effort it would take and I don't believe there are any discussions on this topic. Please feel free to submit a PR and link it to this issue.

[2016-10-19 12:17] ir-tech commented on #131
hi @raymondfeng
It seems that there are more changes nessecary, I forked the branch and started to work on it, is there any way I contact you about this issue with further details? (Skype, etc)

[2016-10-19 16:36] raymondfeng commented on #131
@ir-tech Having the conversation here is preferred. Thanks for taking it up!

[2016-10-20 08:56] ir-tech commented on #131
@raymondfeng The changes work more or less right now, but there is one problem:
node-apn ditched the feedback-service because the new HTTP/2-Approach retrieves immediate feedback (like GCM). I hooked the "devicesGone"-Events onto the response of the request, but the old way with plain TLS-Certificates won't work anymore.

So, with a new release of this component, the user would be forced to use th

[2016-10-20 09:01] F3L1X79 opened #132 "Push Notification error with AWS?"
Hi Loopback team,
Thanks for all the great job done so far.
I got an international app running with LoopbackJS push notifications component.
I actually got this weird error which seems related with AWS, but I can't understand how to solve it:

[code]

Maybe it's not related to the loopback-component-push, but it seems like it is. I'd really appreciate some help.

[2016-10-20 10:45] seriousben commented on #131
Great job. I was also going to look at this soon.

Maybe releasing with a major version bump would make it acceptable.

On Thu, Oct 20, 2016, 04:56 Iliraga <notifications@github.com> wrote:

[2016-10-20 13:38] seriousben commented on #123
#131 will fix this.

[2016-10-20 13:38] #123 closed

[2016-10-20 13:39] seriousben commented on #131
The new apns is supposed to also get rid of #123 - Which is a bonus.

[2016-10-20 15:20] raymondfeng commented on #131
Yes, we can release a new major version

[2016-10-20 15:42] ir-tech commented on #131
I started working on the issue and have some code ready on this fork: https://github.com/ir-tech/loopback-component-push

What I did is

- ditch the whole feedback service
- ditch (almost) the whole certificate relevant service
- implemented the connection through the new apn provider-object
- implemented the "devicesGone"-functionality with the new apple feedback system
- following the [fellow bo

[2016-10-20 20:18] superkhau commented on #132
Can you provide a sample for us to reproduce the issue? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2016-11-07 14:01] iliraga commented on #131
@raymondfeng
I have submitted the Pull Request 11 days ago, but nothing happened there.
Is any additional work nessecary from my side, or why is there no progress?

[2016-11-19 07:26] angfal opened #139 "Push connector overrides EventEmitter events of a loopback model"
We have a model:
[code]
[code]
[code]
The problem is when an application is started, the 'attached' listener is not executed. All listeners are created on the model level are overwritten. It's because loopback mixins the model class:
[code]
The 'ModelCtor' is our model, DAO is the push connector's DataAccessObject. The listeners don't work because the DataAccessObject contains EventEmitter functio

[2016-11-19 07:35] angfal commented on #139
I created a pull request for this story

[2016-11-25 22:49] superkhau commented on #139
@angfal Can you comment with a link to the relevant PR?

[2016-11-25 22:50] superkhau commented on #102
Closing as abandoned. If you are still interested in working on this in the future, just ping and we can reopen it then.

[2016-11-25 22:50] #102 closed

[2016-11-28 06:58] angfal commented on #139
https://github.com/strongloop/loopback-component-push/pull/140

[2016-12-04 17:19] farlymedicaboo commented on #79
happen again in v 1.7.0

[2016-12-07 08:09] superkhau commented on #131
@iliraga Fixed by #142

[2016-12-07 08:09] #131 closed

[2016-12-07 08:11] superkhau commented on #96
The fix was abandoned, does someone want to submit another PR based on #112 to resolve this issue?

[2017-01-05 17:08] BRAVEM4N commented on #60
I'm with the same problem, right now ate year 2017.
Anyone POST works.

PS: I'm with NODE.JS updated.

[2017-01-20 17:38] shuurai opened #144 "Push Notification Rethrow non-MySQL errors"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

The problem did not happen in 1.5.4, but all versions after 1.6.0, seems to throw this error whenever notifyById is called.

### Link to sample repo to reproduce issue (if bug)

### Expected result

Should just return nothing and a null error object.

### Actual result (if bug)

[2017-02-14 00:22] zbarbuto opened #148 "Add FCM support for iOS devices"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

Since node GCM now goes through FCM which supports both iOS and android, it would be nice if you could set a flag to allow iOS devices to go through the GCM provider. Currently we're using the hack of setting all device types to `'android'`.

I suggest adding a 'provider' propert

[2017-02-15 22:27] kahyoung opened #149 "Getting JWT Token must be defined, property "token" is undefined in v3.0.0"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I installed `loopback-component-push` on my server (^3.0.0) and set up push notifications using the example code and tutorial as a guide. When I ran the server and attempted to `POST` to create a notification, server crashed.

### Expected result
I expected to receive a notificati

[2017-02-15 22:45] ilkerc commented on #149
That's the new apple fancy way of security without all these certificate stuff. Checkout #131

[2017-02-15 23:32] kahyoung commented on #149
Oh okay, sorry I missed it.

Is there documentation for the new method?

[2017-02-15 23:53] ilkerc commented on #149
@kahyoung Check out [here](http://gobiko.com/blog/token-based-authentication-http2-example-apns/). Start reading from "Generate an auth key", then add the following token settings to push-demo.js, you can get rid of the certificate reading stuff

`      description: 'LoopBack Push Notification Demo Application',
      pushSettings: {
        apns: {
          pushOptions: {
            // Extra op

[2017-02-16 17:22] PowerP commented on #79
Also v 3.0.0

[2017-03-08 06:47] yugidazai opened #150 "get error "[Error: read ECONNRESET] code: 'ECONNRESET'" sometimes using Push.notifyByQuery"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Sometimes (not always) Push loopback does not send notifications.
Steps to reproduce:
From my node.js server, I used **async.eachLimit** (4) to call push loopback service's api.
This api sends push using **Push.notifyByQuery** method based on **userId** field.

### Link to sample

[2017-03-15 08:18] kahyoung commented on #149
Documentation has been updated on the main loopback site:

http://loopback.io/doc/en/lb3/Push-notifications.html

[2017-03-15 08:18] #149 closed

[2017-06-22 06:45] yugidazai commented on #81
Actually the workaround does not work.
In fact, without a `where` clause, the `find` method of the Installation model ignores the query and returns all installations, hence notifies to all devices stored in DB.
That's why we thought it worked.

The problem is due to the `find` method in
`var self = this;
  var filter = { where: installationQuery };
  self.Installation.find(filter, function(err, in

[2017-06-26 09:00] i-am-smirnoff opened #152 "iOS provider: add support for mutable-content key"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)
Add support for `mutable-content` key in notification to make possible use of [UNNotificationServiceExtension object](https://developer.apple.com/documentation/usernotifications/unnotificationserviceextension) in iOS applications.

If needed, I can suggest code modifications via p

[2017-08-10 05:52] rahulkulmi opened #158 "Push Notification error: undefined"
Hi Loopback Team,

I am using loopback 3.x and mongodb in my project and this working fine.
But when i am integrate push notification in loopback so i have done all the steps which you mention on loopback document but still i am getting error below here:

[code]

It will not showing any error at the time of send push notification message ie. inside PushModel and notifyById() method here i am getti

[2017-08-29 05:57] MiguelGonzalezAravena commented on #51
What about now? Can [this documentation](https://loopback.io/doc/en/lb3/Push-notifications.html) adapt to ionic framework too?

[2017-09-06 15:01] #80 closed

[2017-09-06 15:01] #111 closed

[2017-09-06 15:01] #103 closed

[2017-09-06 15:01] #24 closed

[2017-09-06 15:02] #16 closed

[2017-09-06 15:02] #57 closed

[2017-09-06 15:02] #68 closed

[2017-09-06 15:02] #59 closed

[2017-09-06 15:02] #35 closed

[2017-09-06 15:02] #148 closed

[2017-09-06 15:02] #150 closed

[2017-09-06 15:02] #144 closed

[2017-09-06 15:02] #132 closed

[2017-09-06 15:02] #11 closed

[2017-09-06 15:02] #39 closed

[2017-09-06 15:02] #96 closed

[2017-09-06 15:02] #139 closed

[2017-09-06 15:02] #85 closed

[2017-09-06 15:02] #81 closed

[2017-09-06 21:29] zbarbuto commented on #150
FWIW I no longer get this after updating to the latest version of push connector.

[2017-09-08 10:00] #152 closed

[2017-10-12 02:00] MichaelMarner opened #165 "Android: Notification vs Data payload"
Push notifications on Android are [handled differently](https://developers.google.com/cloud-messaging/concept-options#notifications_and_data_messages) depending on whether the recipient app is in the foreground or background, and whether the push contains only a `notification` or `data` payload, or both.

| Payload Type | Foreground | Background |
|--------------|-------------|--------------|
| No

[2017-10-23 06:44] #158 closed

[2017-11-03 12:36] mamtakb commented on #79
I am getting same error for v3.2.0

[2017-12-19 09:45] ht22pt opened #168 "mutableContent support?"
# New Feature
 For using rich Notifications need support **mutableContent**.
 I has checked in **apns** package. It supported **mutableContent** but **loopback-component-push**
does not support add this field to notification structure.
Please add this.

[2017-12-20 03:00] ht22pt commented on #168
Pull request #169

[2017-12-22 06:34] oskk opened #170 "How to push to subscriptions?"
Hello, how do I push to every device with a particular subscription? In my case I just have `subscriptions: ["1"]` in some of my Installations. However, neither `Push.notifyByQuery({subscriptions: ['1']}, notice, cb)` nor `Installations.findBySubscriptions('android', ['1'], cb)` seem to return any installations and/or push my notification.

I was able to query the Installations through the API exp

[2017-12-27 18:16] jeveloper opened #171 "Question: Scheduled push"
Hello there

Curious if this feature is actually available. Last time ive seen an issue on this was over a year ago.

Thanks

[2017-12-28 18:01] jeveloper commented on #105
@superkhau Curious if it exists now?

[2018-02-09 03:56] #165 closed

[2018-02-13 13:24] uds214125 opened #173 "Is there a push operator in loopback similar to mongo $push ?"
Just I am looking to docs but didn't find

[2018-03-04 04:06] #168 closed

[2018-03-06 07:52] #170 closed

[2018-03-11 18:51] #171 closed

[2018-04-06 15:43] dhmlau commented on #127
Closing as resolved.
Looking at the last merged PR, all CI passed.

[2018-04-28 14:15] #173 closed

[2018-07-20 03:48] ht22pt commented on #168
Hi @raymondfeng, I see this commit to simple, just add one line for support mutableContent.
mutable-content is one [key](https://developer.apple.com/documentation/usernotifications/unnotificationserviceextension?changes=_3) support by apple from iOS 10 for rich notifications. And node-apn has support it from long time ago
You can see a simple guide about rich notifications [here](https://medium.co

[2018-08-24 16:56] mahmutcelik opened #180 "DataSource For MySQL"
### When I am going to add push notification logic with MySQL, How to create the tables for application, installation, and notification?

 I already created loopback sever with MySQL, I am going to put remote notification logic for mobile apps.
Then How to create MySQL database's table for new models, application, installation, and notification?
I am wondering about table structure.
Thank you.

[2018-08-28 19:55] elimcjah commented on #144
How did you resolve this issue?

[2018-10-01 17:57] demarchisd opened #181 "How to send notification instead of data when using FCM"
# Description/Steps to reproduce

Hey!

I'm trying to use the `loopback-component-push` with Firebase Cloud Message (FCM) instead of Google Cloud Message (GCM), since GCM is now deprecated.

In FCM there are two kinds of message: `Notification` and `Data`. [They're better explained here](https://firebase.google.com/docs/cloud-messaging/concept-options), but the main difference is that `Notificatio

[2018-11-05 17:45] fleita9 commented on #181
I'm experiencing the same situation. Did you solve it?

[2018-11-06 12:50] demarchisd commented on #181
Hey @fleita9! Unfortunately, no. I ended up using [fcm-node](https://github.com/jlcvp/fcm-node/) instead.

[2019-04-02 11:23] Jackclarify opened #185 "Connect timed out error, when and how to reproduce this error or did it reconnect automatically?"
uncaughtException: Connect timed out date=Wed Jan 16 2019 18:17:11 GMT+0000 (UTC), pid=187, uid=19270, gid=19270, cwd=/app, execPath=/app/.heroku/node/bin/node, version=v8.11.2, argv=[/app/.heroku/node/bin/node, /app], rss=316243968, heapTotal=223825920, heapUsed=167301368, external=5254698, loadavg=[0.84033203125, 0.82373046875, 1.134765625], uptime=16929355, trace=[column=36, file=/app/node_modu

[2019-08-02 15:30] iMone commented on #81
Hi everyone! I came across the same issue and solved adding:

`"options": {
     "strictObjectIDCoercion": true
}`

Inside the installation model definition.

**Reason:**
The mongodb connector automatically converts a given string to ObjectId when the string has the the same length and characteristics of a MongoDB ObjectId. So "notifyByQuery" search for userIds as they were ObjectIds and fails bec

[2019-10-01 18:29] #180 closed

[2019-10-01 18:29] #181 closed

[2019-10-01 18:29] #185 closed